.filterContainer {
  display: flex;
  margin-bottom: 1em;
  @include respond(tab-port) {
    flex-direction: column;
    padding: 2.5em;
  }
}

.filterText {
  min-width: 20em;
  font-size: 16px;
  margin-right: 1em;
  @include respond(tab-port) {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

.filterRange {
  font-size: 16px;
  &__date {
    background-color: $color-grey-light-1;
    border-color: $color-grey-light-2;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    padding-left: 1em;
    width: 100%;
    @include respond(tab-port) {
      margin-bottom: 1em;
    }
  }
}

.clearFilter {
  display: flex;
  align-items: flex-end;
  &__btn {
    height: 38px;
    padding: 0 1em;
    margin-left: 1em;
    background-color: $color-tertiary-light;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
    }
  }
}
