.table {
  width: 100%;
  border-collapse: collapse;

  &__header {
    &--info {
      background-color: $color-tertiary-light;
      color: $color-white;
      @include infoData;
    }
    @include respond(tab-port) {
      display: none;
    }
  }
  &__body {
    &--data {
      @include infoData;
      @include respond(tab-port) {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
        @include fullBlock;
      }
      &::before {
        @include respond(tab-port) {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-size: 15px;
          font-weight: bold;
          text-align: left;
        }
      }
    }
    @include respond(tab-port) {
      @include fullBlock;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: $color-white-2;
    }
    @include respond(tab-port) {
      margin-bottom: 15px;
      @include fullBlock;
    }
  }
}

.pagination {
  margin-top: 1em;
  &__btn {
    height: 38px;
    padding: 0 1em;
    margin-left: 1em;
    background-color: $color-tertiary-light;
    border: 0px;
    border-radius: 5px;
    color: $color-white;
    cursor: pointer;
  }
}
