// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:  #6f6fff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1:  hsl(0, 0%, 100%);
$color-grey-light-2:  hsl(0, 0%, 80%);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-2: #f5f5f5;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
